<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>company-portal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
        .box{
            width:20%;
            overflow:hidden;
            background:white;
            
            height:200px;
            border:solid black;
            float:left;
            margin:0;
        }
        .heading{
            margin:0;
            padding:0;
            font-size: 20px;
        }
    </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% for message in messages %}
        <b><h2>{{message}}</h2></b>
        {% endfor %}
        <div class='box'>
            <center>
            <h3 class="heading">operations</h3><center><br>
            <hr>
        <form action="{% url 'student_list' %}" method='POST'>
            {% csrf_token %}
        <input type="float" name="cgpa_cutoff" placeholder="enter cgpa cutoff to view eligible students"><br>
        <input type="submit" ><br>
        </form>
        <form method='POST'>
            {% csrf_token %}
                <a href="{%url 'create_job_offer' %}">Create job offer</a>
            </form>
            </div>
        
    </body>
        
        <script src="" async defer></script>
    </body>
</html>