<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>STUDENT REGISTRATION</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <form action="{% url 'sregister' %}" method ='POST'>
            {% csrf_token %}   
        <input type="text" placeholder='enter ur name' name="name"><br>
        <input type="text" placeholder='enter ur USN' name="usn"><br>
        <input type="text" placeholder='enter ur phone' name="phone"><br>
        <input type="text" placeholder='enter ur sem' name="sem"><br>
        <input type="text" placeholder='enter ur branch' name="branch"><br>
        <input type="text" placeholder='password' name="password"><br>
        <input type="textfield" placeholder='add ur skills' name='skills'><br>
        <input type="float" placeholder='cgpa obtained' name='cgpa'><br>
        <input type='submit'>
        </form>
        

        
        <script src="" async defer></script>
    </body>
</html>