<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>STUDENT-LOGIN</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <form method="POST" action="{% url 'slogin' %}">
            {% csrf_token %}
            <input type="text" placeholder="enter your USN" id="usn" name="usn"><br>
            <input type="password" placeholder="enter your password" name="password" id="password"><br>
            <button type="submit">Login</button>
            <hr>
        </form>
        <form >
            {% csrf_token %}
            <a href="{% url 'sregister' %}">register</a>
            <hr>
        </form>
        

        
        
    </body>
</html>